* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

h2 {
  padding-bottom: 30px;
}

.sidebar {
  color: #ffffff;
  background-color: cornflowerblue;
  grid-row: 1/3;
  padding: 20px;
}

ul {
  list-style-type: none;
  display: grid;
  gap: 10px;
  font-weight: bold;
  grid-template-rows: repeat(5, 32px) 80px repeat(2, 32px);
  font-size: large;
  padding: 10px;
}

.header {
  padding: 20px 32px 20px 32px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 3fr;
}

.search-bar > input[type="search"] {
  appearance: none;
  width: 70%;
  height: 50%;
  border-radius: 10px;
  background-color: gainsboro;
  border: none;
}

input[type="search"]:focus {
  border: 2px solid black;
  outline: none;
}

.info {
  justify-self: end;
}

.info > img {
  padding: 0 20px;
  align-self: center;
}

.avatar {
  padding-top: 10px;
  display: grid;
  justify-self: start;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.avatar > div > p {
  margin-bottom: -20px;
}
.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.btns {
  align-self: center;
}
.btns > button {
  height: 150%;
}

.main-page {
  background-color: antiquewhite;
  align-content: center;
  text-align: center;
}
